:root{
  --primary-color:#059212;
  --secondary-color:#06D001;
  --light-color:#ffffff;
  --light-bg:#e0f3e2;
  --third-color:#95FC89;
}

/* shared css */

.main-heading {
  font-family: Lato;
  font-size: 42px;
  font-weight: 600;
  line-height: 75px;
  text-align: left;
  color: #2b2525;
}
.main-heading span {
  color: var(--secondary-color);
}
.para-graph{
  line-height: 35px;
}
.counter{
  color: #000;
}

.platform-option{
  border-style: none;
  word-wrap: normal;
  background-color: #d4ffcf;
}

.filter-company-show{
  margin-top:25px;
}

.freelancer-tabs-btn:hover{
  background-color: #fff;
  color: #059212;
}

.freelancer-dark-btn , .freelancer-tabs-btn {
  width: auto;
  height: 48px;
  padding: 12px 24px 12px 24px;
  gap: 12px;
  border-radius: 3px 0px 0px 0px;
  opacity: 0px;
  background-color: #059212;
  color: #ffffff;
  border-style: none;
  margin:10px 0px;
  border-radius: 10px;
}
.freelancer-dark-btn:hover {
  background-color: transparent;
  border: 1px solid #059212;
  color: #059212;
}

.freelancer-light-btn {
  width: auto;
  height: 48px;
  padding: 12px 24px 12px 24px;
  gap: 12px;
  border: 1px solid #059212;
  border-radius: 3px 0px 0px 0px;
  opacity: 0px;
  color: #059212;
  margin:10px 0px;
  border-radius: 10px;
}
.freelancer-light-btn:hover {
  background-color: #059212;
  color: #ffffff;
}

.category-card:hover{
  width:100%;
  box-shadow: 0px 0px 5px rgb(201, 201, 201);
}

.freelancer-category-card {
  width: 50%;
  height: auto;
}
.freelancer-category-card .card-title {
  margin-left:35px;
  font-size: 20px;
}

.freelancer-category-card .card-title span {
  color: #c39e1c;
}
.all-category {
  display: flex;
  flex-wrap: wrap;
}
.input-password{
  position: relative;
}

.input-password .psd-icon{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}


/* header css */
.search-box{
  position: relative;
  width: 100%;
  height: auto;
}
.search-box .search-input{
  outline: none;
  border:1px solid #000;
  border-radius: 25px;
  padding: 5px;
  width:-webkit-fill-available;
}
.my-custom-class{
    top:5px;
    left: 10px;
    position: absolute;
}
.search-box .search-input::placeholder{
   padding-left: 50px;
}
.all-categories-box{
  width: 100%;
  height: 100%;
  background-color: #D4FFCF;
}
.all-categories-box ul{
  overflow: auto;
  margin:0px;
 padding: 10px;
 cursor: pointer;
}
.categories-list{
  width: auto;
  padding: 10px;
}
.categories-list:hover{
  border-radius: 50px;
  background-color: #059212;
  color: #fff;
  transition: all 0.5s ease-in-out;
  
}

/* home page css */
.upwork-game-container{
  border-radius: 25px;
  padding: 40px;
  width: 100%;
  background-color: var(--light-bg);
}

/* home page other-section */
.other-section {
  background-color: var(--light-bg);
  position: relative;
  border-radius: 25px;
 }
 
 .other-section .other-section-img {
   z-index: 9;
   height: 100%;
   width: 35%;
   right: 240px;
   position: absolute;
   top: 0;
 }

 .how-should-container{
  padding: 4em;
  margin: 9em 0px 0px 0px;
  width: 100%;
  height: auto;
  background-color: #b3b1b1;
 }

 .how-should-container .image-herosection{
  border-radius: 25px;
   box-shadow: 29px 27px 0px -6px #0E8B00;
 }

 .dropdown:hover .dropdown-menu {
  width: auto;
  display: block;
  margin-top: 0; /* Removes the gap so it’s connected to the button */
}

/* end home page css */

 /* find-talent-container */
 .find-talent-container{
  width: 100%;
  height: 100%;
 }

 .find-talent-container::before{
  background-image: url('../img/find-talent-2x.jpg');
  background-size: cover;
  opacity: 0.4;

 }
 .find-talent-container .section-card{
  padding: 25px;
   background-color: var(--primary-color);
 }

 .find-talent-container .section-card h4,.find-talent-container .section-card a{
  color: #fff;
 }
 
/* testimonial cards  css */

.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #fff;
}
.swiper-container {
  padding: 0px 20px;
}

.testimonial-cards {
  padding: 20px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 5px #bdbcbc7a;
}
.testimonial-container {
  padding: 20px;
  height: 100%;
  background-color: #f9f9ff;
}
.testimonial-container::before{
  content:"";
 background-image: url('../img/bg-pattern.jpg');
 opacity:0.2;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:auto;
  height:auto;
  z-index:-3;
}

.testimonial-cards .testimonial-text {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.testimonial-cards .profile-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.testimonial-left .carousel-control-prev .visually-hidden ,  .testimonial-left .carousel-control-next .visually-hidden{
  display: none;
 }

 .testimonial-container .carousel-control-next-icon, .testimonial-container .carousel-control-prev-icon{
  position: absolute;
  right: 0;
 }

/* login css */
.login-container ,#signup-container{
  display: flex;
  padding: 10px 0px;
  height: 100vh;
  align-items: center;
}
.login-box .login-container{
    border-radius: 10px;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.left-login-box , .left-signup-box{
  background-image: url('../img/login-bg.png');
  background-size: cover;
  background-position: center;
  height: auto;
}
/* divider css */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider-text {
  margin: 0 15px;
  color: #000; /* Customize the color as needed */
  font-weight: 400; /* Customize font style as needed */
}


/* sign up css */
#signup-container{
  background-color: #fff;
}
.signup_box{
  position: relative;
}
.signup_box .arrow-icon{
    top:150;
    width: -webkit-fill-available;
    bottom: 0;
    left: 0;
    position: absolute;
}
.signup-input{
  background-color: var(--third-color);
}
.signup-input:hover{
  background-color: #fff;
}
.signup-input-others{
 background-color: #fff;
}
.signup-input-others:hover{
  background-color: var(--third-color);
}

.uploadFile {
  width: 100%;
  background-color: white;
  border: 2px dashed gray;
  color: grey;
  font-size: 16px;
  line-height: 23px;
  overflow: hidden;
  padding: 50px 10px 50px 10px;
  position: relative;
  resize: none;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .inputfile-post-project {
    cursor: pointer !important;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0px;
    z-index: 1;
  }

  /* about css */
 .about{
  width: 100%;
  height: auto;
  position: relative;
 }

  /* category-box css */
  .category-box{
    width: 100%;
  }


/* project-categories css */
.project-categories{
  width: 100%;
  height: 100vh;
}

.programing_skills_box{
  width: 100%;
  height: 100%;
}
.programming_skills_brif-box{
  width: 100%;
  height: fit-content;
  box-shadow: 2px 5px 5px #b3b1b1;
}

/* Card.css */
.card-container {
  width: 100%; /* Adjust width as needed */
  /* background-color: #92989d !important; */
  border-radius: 10px;
 
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-section {
  border:1px solid #000;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 23%;
  border-radius: 10px;
  background-size: cover;
  background-color:transparent ;
  padding: 10px;
  /* background-image: linear-gradient(120deg, #28286e, #9191b1); */
  overflow: hidden; /* Ensure content doesn't overflow the card */
}
.card-section .card-title{
  color: var(--primary-color);
}

.card-section:hover .card-title{
  color: #fff;
}

.card-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/02.png');
  background-size: cover;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth transition */
  z-index: 1;
}

.card-section:hover::before {
  opacity: 0.1; /* Image opacity on hover */
}

.card-section:hover {
  transition: 0.8s;
  background-color: var(--primary-color); /* Dark black background color */
  /* padding: 10px; */
  border-radius: 10px;
  color: #fff;
}

.card-content {
  position: relative;
  z-index: 2; /* Ensure content appears above the ::before element */
  padding: 15px;
}

.card-image {
  display: none;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

.client-web-bg{
  position: absolute;
}
.card-title {
  text-align: justify;
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-image-container {
  background-color: #c9f7d4; /* Light green background for the image area */
  padding: 10px;
  border-radius: 5px;
}

.card-image {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
}

/* plan css */
.choose-plan-box{
  margin: 2px;
  padding: 10px;
  box-shadow: 1px 1px 1px 2px #dbdbdc;
  background-color: transparent;
  width:30%;
}
.plan-container {
  display: flex;
  width: 100%;
}

.banner-section{
  background-color: #fff !important;
  padding: 7em 0em 0em 0em;   
}

/* how-it-works*/
.how-it-works::before {
  content:"";
 background-image: url('../img/pattern-01.webp');
 opacity:0.1;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:auto;
  height:auto;
  z-index:-3;
}
.how-it-works{
  padding: 5em 0;
}

/* email verify css */
.email_verify-container{
  padding: 1em;
  width: 100%;
  height: auto;
}

/* welcome css */

#welcome-section{
  width: 100%;
  height: auto;
}

/* post-project-section */
.post-project-section{
  width: 100%;
  height: auto;
  margin: 7em 0px 1em 0em;
}
.post_project_container{

 width: 100%;
 height: auto;
}

.post-project-right{
  background-size: cover;
  background-image: url('../img/postproject.png');
}

.formstepone{
  width: 100%;
  height: auto;
  background-size: cover;
  background-image: url('../img/banner-01.png');
}

/* responsive css */

@media screen and (max-width: 320px) {
  .search_box {
   width:100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .search_box {
    width:100%;
   }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  
}

@media screen and (max-width: 767px) {
  /* main-heading css */

  .main-heading {
    line-height: 35px;
    font-size: 24px !important;
  }
  .how-should-container,.why-choose-container, .popular-services-container{
    padding: 1em !important;
  }
  .how-should-container{
    margin:4em 0em 0em 0em;
  }
  .why-choose-left{
      padding: 10px;
  }
  /* menu bar mobile css */
  .mobile-menu {
    left: 0;
    /* padding: 0; */
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 99;
   }

  .all_categories{
     display: none;
   }

.mobile-menu .cross-icon {
  border-radius: 5px;
  margin: 15px 10px;
  /* color: #fff; */
  padding: 5px 10px;
  float: right;
  width: 50px;
  height: 50px;
  
}

  /* testimonial css */
  .swiper-container {
    padding: 0px;
  }


  /* category css */
  .freelancer-category-card .card-title{
    margin:0px;
  }
  
  /* plan */
  .plan-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  /* card section css */
  .card-section {
    margin: 0px 6px;
    width: 100%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .main-heading {
    line-height: 35px;
    font-size: 32px !important;
  }
}

@media screen and (min-width:1200px) {

  .main-heading {
    line-height: 65px;
    font-size: 36px !important;
  }
  
  .search_box{
    border-style: none;
    outline: none;
    background-color: transparent;
    width: 65%;
  }
}

